.gridItem {
  padding: 5% 0;
  width: 75%;
}

.gridItem > h5 {
  color: #7fade9;
}

.gridItem > p, .gridItem> h5 {
  font-size: small;
}

.icon {
  width: 70px;
  margin: 0.5rem;
  margin-left: 0;
  float: left;
}