.topLayer > div {
  max-width:35%;
  margin:0 15%;
  padding-top: 5%;
}

.topLayer {
  height: 50vh;
  z-index: 0;
  background: #ffffff;
}

.logo {
  max-width: 35%;
  display: block;
}
.lead {
  color:gray;
  font-size: 200%;
}